
body{

height: 100vh;
background-image: linear-gradient(rgb(255, 207, 125),#101820FF);

}
#hh1{
   text-align: center;
}


.logo{
    display: block;
    margin: auto;
}

.container{

    max-width: 700px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    height: 50vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;

}

.message{
background-color: rgb(255, 207, 125);
width: 24%;
padding: 10px;
margin: 17px 12px;
border: 2px solid black;
border-radius: 10px;


}
.left{

    float: left;
    clear: both;
}
.right{
 
    float: right;
    clear: both;

}
#send-container{

    display: block;
    margin: auto;
    text-align: center;
  

}
#messageInp{
    width: 49%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;

    
}
.btn{
    border: solid 2px black;
    border-radius: 5px;
    height: 42px;
    width: 110px;

}